{% extends 'base.html' %}
{% block content %}
<head>
  <title>{{category.name}}</title>
</head>
<h1>{{category.name}}</h1>
<div class="row mx-auto">
  {% for product in products %}
  <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
    <img class="card-img-top" src="{{product.cover_image.url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">{{product.name}}</p>
      <p class="card-text"><b>{{product.price}}f CFA</b></p>
      <a href="{% url 'detail' product.id %}" class="btn" style="background-color: #B09010;">Voir</a>
      {% comment %} <a href="{% url 'add_to_cart' product.id %}"><button class="btn btn-secondary" >Ajouter</button></a> {% endcomment %}
      <a href="/add_item_to_cart/{{product.id}}"><button class="btn btn-secondary" >Ajouter</button></a>
    </div>

  </div>
  {% endfor %}
</div>
 
{% endblock content %}