{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Commande</title>
</head>
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li>Commande</li>
      </ol>
      <h2>Des Bracelets personnalisés</h2>

    </div>
</section>
<div class="container">
  <div class="row">
  <h2>Panneaux de commandes avec Options</h2>

  {% comment %} <div class="card" >
    <img src="{% static 'img/bra/pack.jpg' %}" class="card-img-top" alt="Image">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Titre de la carte</h5>
      <p class="card-text">Description de la carte.</p>
      <a href="#" class="btn btn-primary mb-2">Option 1</a>
      <a href="#" class="btn btn-primary mb-2">Option 1</a>
      <a href="#" class="btn btn-primary mb-2">Option 1</a>
      <a href="#" class="btn btn-secondary mb-2">Option 2</a>
      <!-- Ajoutez d'autres options ici -->
    </div>
  </div> {% endcomment %}
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/bra/pack.jpg' %}" class="card-img-top" alt="Image">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Pack simple</h5>
      <p class="card-text">
        Bracelet personnalisé avec nom</p>
      <a href="#" class=" mb-2">Option 1</a>
      <a href="#" class=" mb-2">Option 1</a>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="btn btn-secondary mb-2">Commander</a>
      <!-- Ajoutez d'autres options ici -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/bra/pack.jpg' %}" class="card-img-top" alt="Image">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Pack complet</h5>
      <p class="card-text">Bracelet personnalisé avec nom</p>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="btn btn-primary mb-2">Commander</a>
      <!-- Ajoutez d'autres options ici -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/bra/pack.jpg' %}" class="card-img-top" alt="Image">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Pack pro</h5>
      <p class="card-text"> Bracelet personnalisé avec nom</p>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="mb-2">Option 1</a>
      <a href="#" class="btn btn-primary mb-2">Commander</a>
      <!-- Ajoutez d'autres options ici -->
    </div>
  </div>
</div>
</div>
{% comment %} <section id="counts" class="counts">
  <div class="container">
    <div class="row">
      {% for category in categories %}
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
         <i class="bi bi-cart"></i>
         <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span> 
         <p><strong>{{ category.name }}</strong> <br>{{ category.description }} </p>
         <a href="{% url 'categorydetail' category.pk %}">Voir les produits &raquo;</a>
        </div>
       </div>
      </div>
      {% endfor %}
    </div>
</section> {% endcomment %}

<div class="container">
  <h2>Galerie des Bracelets Commandés</h2>
  <div class="d-flex flex-wrap">
    <img src="{% static 'img/bra/bra1.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra2.jpg' %}" alt="breadcrumbs" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra3.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra4.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra5.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra6.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra7.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra8.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra9.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
    <img src="{% static 'img/bra/bra10.jpg' %}" alt="Bracelets" class="img-thumbnail m-2" style="max-width: 200px;">
  </div>
</div>
{% endblock content %}