{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Commande</title>
</head>
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li>Commande</li>
      </ol>
      <h2>Des Bracelets personnalisés</h2>

    </div>
</section>
<section id="counts" class="counts">
  <div class="container">
    <div class="row">
      {% for category in categories %}
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
         <i class="bi bi-cart"></i>
         <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span> 
         <p><strong>{{ category.name }}</strong> <br>{{ category.description }} </p>
         <a href="{% url 'categorydetail' category.pk %}">Voir les produits &raquo;</a>
        </div>
       </div>
      </div>
      {% endfor %}
    </div>
</section>
{% endblock content %}