{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
 </head>  
<body>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
    
          <ol>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li>Se connecter</li>
          </ol>
          <h2>Se connecter</h2>
    
        </div>
    </section>
<div class="container-fluid fullp"> 
        <div class="row no-gutter"> 
          <div class="col-md-6 d-none d-md-flex bg-image">
          </div> 
          <div class="col-md-6 bg-light shadow-sm showHover" style="border-radius:16px ;"> 
            
            <div class="login d-flex align-items-center py-5"> 
            <div class="container"> 
  
              <div class="row"> 
                <h3 class="text-center display-4" style="font-weight:700">Connexion</h3> <br>                   
  
                <div class="col-lg-7 col-xl-6 mx-auto ">
                  <h3 class="text-center display-4"></h3> <br>                                 
  <form action="" method="POST" class="">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Nom d'utilisateur</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Mot de passe">
      <label for="floatingPassword">Mot de passe</label>
    </div>
       <br> 
    <input type="submit" value="Se connecter" class="btn btn-block" style="background-color: #B09010;">
  </form>
  </main>
  </div>
  <div class="mt-2">
    <p class="text-center">
    <small class="text-muted">
      Vous n'avez pas de compte ? <a href="{% url 'register' %}" style="color:e96b56; text-decoration: none;">Créer un compte</a>
    </small>
  </p>
  </div>
  <br>
  
  <br>
</div> 
 </div> 
</div> 
</div> 
</div>
</div>
</div>
</div>

{% endblock content %}